---
title: Navigation Charts
description: Displaying custom tilesets hosted on ArcGIS Online.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([30.587276, 114.28744], 9);

  L.esri.tiledMapLayer({
    url: 'http://172.16.238.47:6080/arcgis/rest/services/BaseMap/DZDT_BLUE/MapServer',
    detectRetina: false,
    minZoom: 3,
    maxZoom: 10
  }).addTo(map);
</script>
